<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freesky.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.freesky.bean.City">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="CHAR" property="name" />
    <result column="CountryCode" jdbcType="CHAR" property="countrycode" />
    <result column="District" jdbcType="CHAR" property="district" />
    <result column="Population" jdbcType="INTEGER" property="population" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.freesky.bean.City">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="city_id" jdbcType="SMALLINT" property="cityId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country_id" jdbcType="SMALLINT" property="countryId" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
</mapper>