<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freesky.mapper.CountryMapper">
  <resultMap id="BaseResultMap" type="com.freesky.bean.Country">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Code" jdbcType="CHAR" property="id" />
    <result column="Name" jdbcType="CHAR" property="name" />
    <result column="Continent" jdbcType="CHAR" property="continent" />
    <result column="Region" jdbcType="CHAR" property="region" />
  </resultMap>
</mapper>